<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772280931851-f1q97h4mpme94aja7plh8sttdci56th4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772280931851-f1q97h4mpme94aja7plh8sttdci56th4</string>
	<key>API_KEY</key>
	<string>AIzaSyBnnPKM2lFG_LWtbV3GoxS4kq0h1kZ0cyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>772280931851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>j.kwon.Project-2Q-2019</string>
	<key>PROJECT_ID</key>
	<string>q-project-1ce1f</string>
	<key>STORAGE_BUCKET</key>
	<string>q-project-1ce1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772280931851:ios:5b21dea2c363c6c00c190e</string>
	<key>DATABASE_URL</key>
	<string>https://q-project-1ce1f.firebaseio.com</string>
</dict>
</plist>